*{
    font-family: "Sansation", sans-serif;
}
.main-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-text{
    font-size: 16px;
    color: red;
}

.result-text {
    font-size: 16px;
    color: grey;
}